# Chapitre 3 : les bases (suite)


## Chaînes de caractères
### Sur 1 ligne
- Englober la chaîne de caractères par des `'`
- Englober la chaîne de caractères par des `"`

### Sur plusieurs lignes
- Englober la chaîne de caractères par des `'''` (triples `'`)
- Englober la chaîne de caractères par des `"""` (triples `"`)

### Les caractères spéciaux
- `''` : ligne vide
- `'\n'` : retour à la ligne
- `'\t'` : tabulation

### ==================== EXERCICE ====================
1. Afficher la chaîne de caractères `"Hello World!"` en utilisant la fonction `print()`
2. De la même manière, afficher une chaîne de caractères tenant sur plusieurs lignes
3. Afficher des chaînes de caractères contenant les caractères spéciaux précédents

### ==================== SOLUTION ===================

### ===============================================

### Les fonctions sur les chaînes de caractères
- `capitalize()` : met la première lettre en majuscule
- `lower()` : met toutes les lettres en minuscules
- `upper()` : met toutes les lettres en majuscules
- `count(word)` : compte le nombre d'occurences de `word` dans la chaîne de caractères
- `find(sub_word)` : recherche `sub_word` dans la chaîne de caractères et retourne l'indice correspondant, et -1 sinon
- `replace(sub_word, replacement_word)` : recherche `sub_word` dans la chaîne de caractères et le remplace par `replacement_word`
- `lstrip()` / `rstrip()` / `strip()` : enlève les espaces en début / fin / début **et** fin de la chaîne de caractères

### ==================== EXERCICE ====================
1. Créer la chaîne de caractères `Hello world! How are you?` avec des espaces en début et fin de chaîne
2. Utiliser les fonctions ci-dessus et noter ce qu'elles font

### ==================== SOLUTION ===================

### ==============================================

### Les fonctions de conversion
- `str(value)` convertit `value` en chaîne de caractères
- `int(value)` convertit `value` en  en entier
- `float(value)` convertit `value` en flottant
- `bool(value)` convertit `value` en booléen

### ==================== EXERCICE ====================
1. Utiliser les fonctions de conversion pour convertir des valeurs des 4 types (str, int, float et bool) vers les 4 autres types
2. Expérimentez avec la fonction `bool()`. Quelles règles peut-on en déduire ?
3. Expérimentez avec la fonction `int()`. Quelles règles peut-on en déduire ?
4. Expérimentez avec la fonction `float()`. Quelles règles peut-on en déduire ?

### ==================== SOLUTION ===================

### L'opérateur `+`
#### Permet de concaténer plusieurs chaînes de caractères

### L'opérateur `*`
#### Permet de dupliquer une chaînes de caractères

### ==================== EXERCICE ====================
1. Utiliser la fonction `str()` pour convertir, concaténer et afficher un entier, un flottant et un booléen
2. Utiliser `*` pour dupliquer une chaîne de caractères et l'afficher
3. Utiliser les fonctions `int()` et `float()` pour convertir des chaînes de caractères en entier et en flottants

### ==================== SOLUTION ===================

### ==============================================

## Les tuples
- Structure regroupant plusieurs objets
- Les objets peuvent être de **types différents**
- Créé avec `()`
- On accède aux objets avec l'opérateur `[]`
- Indexée à partir de **0**
- **Immuable** (***immutable*** en Anglais) : il ne peut pas être modifié après sa définition

### Exemple :
```
my_tuple = ("prénom", "nom", 42, True, 4.2)
print(my_tuple[3])
```

### ==================== EXERCICE ====================
1. Créer un tuple contenant des chaînes de caractères, des entiers, des floats et des booléens
2. Afficher les objets du tuple un par un
3. Essayez de changer la valeur des objets du tuple. Notez bien l'erreur obtenue

### ==================== SOLUTION ===================

### ==============================================

## Les listes
- Structure regroupant plusieurs objets
- Les objets peuvent être de **types différents**
- Créée avec `[]`
- On accède aux objets avec l'opérateur `[]`
- Indexée à partir de **0**
- **muable** (***mutable*** en Anglais) : elle **peut** être modifiée après sa définition

**Exemple :**

```py
my_list = ["prénom", "nom", 42, True, 4.2]
print(my_list[3]
```

### ==================== EXERCICE ====================
1. Créer une liste contenant des chaînes de caractères, des entiers, des floats et des booléens
2. Afficher les objets de la liste un par un
3. Modifier la valeur de plusieurs éléments de la liste
4. Essayer de rajouter un élément à la fin de la liste avec l'opérateur `[]` et noter l'erreur affichée

### ==================== SOLUTION ===================

### ==============================================

### Fonctions sur une liste

- `append()` : rajoute un élément à la fin
- `insert(i, val)` : insert `val` à l'indice `i`
- `pop(i)` : retire l'élément à l'indice `i` et le retourne en résultat
- `reverse()` : inverse la liste
- `extend(list)` : rajoute `list` à la fin de la liste
- opérateur `+` : identique à `extend(list)`
- `index(val)` : indice de l'élément de valeur `val`
- `count(val)` : nombre d'éléments de valeur `val`
- `remove(val)` : enlève le premier élément de valeur `val`

**Exemple :**
```my_list = ["nom", "prénom"]
my_list.append(42)
my_list.insert(1, "surnom")
value = my_list.pop(3)
my_list.reverse()
my_list.extend([7.3, 32., False])
my_list = my_list + [True, False]
id = my_list.index("prénom")
count = my_list.count(False)
my_list.remove(False)```

### ==================== EXERCICE ====================
1. Créer une liste contenant des objets de types différents
2. Modifier la liste créée en utilisant les fonctions précédentes
3. Imprimer la liste à chaque étape

### ==================== SOLUTION ===================

### ==============================================

### Extraction d'éléments sur une liste
#### L'opérateur `[i]` permet d'accéder à l'élément d'indice `i`
#### L'opérateur `[i:j]` permet d'accéder aux éléments entre les indices `i` inclus, et `j` non-inclus

**Remarques :**
- On peut omettre `i` si on souhaite prendre les éléments depuis le début de la liste
- On peut omettre `j` si on souhaite prendre les éléments jusqu'à la fin de la liste
- L'indexation est circulaire : 0 est l'indice du premier élément, -1 l'indice du dernier élément, -2 l'indice de l'avant-dernier élément, etc.

### ==================== EXERCICE ====================
1. Créer une liste
2. Récupérer le dernier élément
3. Récupérer la liste constituée des 3 premiers éléments
4. Récupérer la liste constituée des 2 derniers éléments

### ==================== SOLUTION ===================

### ==============================================

### Chaînes de caractères et listes

Une chaîne de caractères est aussi une liste de caractères.

On peut donc aussi utiliser les fonctions suivantes pour convertir entre les chaînes de caractères et les listes :
- `split()` : créé un liste en séparant les mots de la chaîne de caractères
- `join()` : créé une chaîne de caractères en concaténant les éléments d'une liste

**Exemple :**

```
my_string = "Hello world! How are you doing?"
my_list = my_string.split()
# Use space character to join all words in my_list
my_string_2 = " ".join(my_list)
```

### ==================== EXERCICE ====================
1. Créer une chaîne de caractères contenant plusieurs mots
2. Utiliser la fonction `split()` et afficher le résultat
3. Utiliser la fonction `join()` sur le résultat précédent et afficher le tout

### ==================== SOLUTION ===================

## Les dictionnaires
- Structure regroupant des associations `clef:valeur`
- Les clefs sont uniques
- Les clefs ainsi que les valeurs peuvent être de **types différents**
- Créés avec `{}`
- On accède aux objets avec l'opérateur `[]`
- Indexés par les clefs
- **muable** (***mutable*** en Anglais) : il **peut** être modifiée après sa définition

**Exemple :**

```my_dict = {34:45, "34":46, True:"True", "False":False}
my_dict["34"] = 47
my_dict[42] = 42.43```

### ==================== EXERCICE ====================
1. Créer un dictionnaire contenant des associations clef:valeur de types différents
2. Rajouter une association clef:valeur
3. Éditer une association clef:valeur
3. Afficher le dictionnaire à chaque étape

### ==================== SOLUTION ===================

### ==============================================

## Divers fonctions
- `id()` : retourne l'identifiant unique de la variable

### ==================== EXERCICE ====================
1. Créer plusieurs les variables `a` et `b` et leur allouer les valeurs `42` et `43` respectivement
2. Afficher leur identifiant unique
3. Allouer la valeur `b` à `a`
4. Afficher leur identifiant unique. Que se passe-t-il ?
5. Allouer la valeur `b+1` à `a`
6. Afficher leur identifiant unique. Que se passe-t-il ?

### ==================== SOLUTION ===================

### ==============================================